html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
margin: 0;
text-align: center;
}


a:hover {
	color: #0099cc;
	font-weight: bold;
}

a:link{
	color:black;
}

a{text-decoration: none;}

.wrap {
	position: relative;
	margin: 0 auto;
	width: 1150px;
	text-align: left;
	background:url('../images/bg_html.jpg');
}

.topdecoration{
  	float: left;
	background: black;
    width: 1150px;
    height: 5px;
}

.red{
	float: left;
	background: red;
  	width: 50px;
  	height: 5px;
}

.yellow{
	float: left;
	background-color: yellow;
    width: 50px;
    height: 5px;
}

.blue{
	float: left;
	background: blue;
  	width: 50px;
  	height: 5px;
}

.header{
	width: 1150px;
	height: 150px;
}

.logo{
	position: absolute;
	top: 30px;
	left: 100px;
}

.fb{
	position: absolute;
	top: 30px;
	right: 100px;
}


.select{
	float: right;
	font-size: 20px;
	font-family: arial;
	margin-top: 90px;
	margin-right: 100px;
	color:gray;
}

.space{
	margin-left: 30px;
}

.ad{
	margin: 0 auto;
	width: 950px;
	height: 415px;
	background: black;
}

.ad_pic{
	float:left;
}

.ad_intro_title{
	float:left;
	color:#0099cc;
	font-size: 43px;
	font-family: arial;
	margin-top: 30px;
	margin-left: 40px; 
}

.ad_intro{
	float:left;
	color:white;
	font-size: 18px;
	line-height: 28px;
	font-family: arial;
	margin-top: 30px;
	margin-left: 40px; 
}

.read_more{
	float:left;
	background: #696969;
	width: 130px;
	height: 50px;
	margin-top: 30px;
	margin-left: 40px;
}

.center{
	margin-top:15px;
	margin-left: 10px;
	color:white;
	font-size: 18px;
	font-family: arial;
}

.middle{
	margin: 0 auto;
	width: 950px;
	height: 130px;
	background: white;
	margin-top: 30px;
}

.content{
	color:black;
	font-size: 18px;
	font-family: arial;
	padding-top: 25px;
	margin-left: 28px;
	line-height: 28px;
}

.word{
	color:#0099cc;
}



.middle2{
	margin: 0 auto;
	width: 950px;
	height: 420px;
	background: white;
	margin-top: 30px;
}

.m2_title{
	color:black;
	font-size: 30px;
	font-family: arial;
	padding-top: 25px;
	margin-left: 28px;
	margin-bottom: 10px;
}

.word1{
	float: left;
}

.word2{
	float: left;
	margin-left: 475px;
}

.pages{
	float: left;
	width: 615px;
	margin-left: 28px;
	margin-top: 10px;
}

.page{
	float: left;
	margin-bottom: 30px;
	width: 615px;
	height: 140px;
}

.img1{
	float: left;
}

.page1_intro{
	float: left;
	color:black;
	font-size: 16px;
	font-family: arial;
	line-height: 24px;
	margin-left: 28px;
}

.weight{
	font-weight: bold;
}

.right{
	float: left;
	width:267px;
	height: 420px;
	margin-left: 40px;
	margin-top: 10px;
}

.service_list{
	width: 267px;
	height: 170px;
	line-height: 14px;

}

.findus{
	float: left;
	width: 267px;
	height: 170px;
	margin-top: 80px;
}

.word3{
	color:black;
	font-size: 30px;
	font-family: arial;
}

.enter{
	width: 270px;
	height: 50px;
	margin-top: 20px;
}

.pos{
	color:black;
	font-size: 16px;
	font-family: arial;
	margin-top: 15px;
	margin-left: 10px;
}

.search{
	float:left;
	background: #ccccff;
	width: 100px;
	height: 40px;
	margin-top: 10px;
	text-align: center;
    line-height: 45px;
    color:#0099cc;
	font-size: 16px;
	font-family: arial;
}

.footer{
	margin: 0 auto;
	width: 950px;
	height: 100px;
	margin-top: 40px;
}